.comments
  %h2 Comments
  %hr/
  =render_comments tailing_comments
-form_for [tailing_comments, Comment.new()], :html => { :class => 'new_comment_form' } do |f|
  %h3 New Comment
  =f.text_area :body
  =submit_tag 'Add Comment'