%div
  ="#{@person.last_name}, #{@person.first_name} #{@person.middle_name}"
%div
  %b Login name:
  =@person.login_name
%div
  %b Email:
  =@person.email
=link_to 'Edit', edit_person_path(@person)
|
=link_to 'Back', people_path
=render_comments_with_form(@person)
