body
  :background-color #465BBA
#pageWrapper
  :background-color white
  :width 650px
  :margin 0px auto
  :border-left 4px dotted #465BBA
  :.border-left 4px dashed white
  :padding 10px 5px
  
  #pageTitle
    h1
      :text-align center

    h2
      :text-align center
      :color red
  
  #sideBar
    :float left
    :width 220px

    #gravatar
      :padding-left 15px
    
    ul#navigation
      :list-style none
      li
        :margin-left -20px
        :.margin-left -25px
  
  #pageContent
    :float right
    :width 425px
  
    #flashNotice
      :color green
  
  #pageFooter
    :clear both