%h2 Software Administration
%table
  %tr
    %th Title
    %th Copies
  -for software in @softwares
    %tr
      %td= link_to software.title, software
      %td=h software.copies
      %td= link_to 'Edit', edit_software_path(software)
      %td= link_to 'Destroy', software, :confirm => 'Are you sure?', :method => :delete
%br/
=link_to 'New software', new_software_path
