!!!
%html
  %head
    %title Technology Help Desk
  %body
    %h1{:align=>'center'} Technology Help Desk
    %h2{:align=>'center', :style=>'color: red'} Coming Soon
    %p{:style=>'color: green'}= flash[:notice]
    =yield